# {
    margin:0;
    padding: 0;
}

.cabecalho{
    padding: 15px 25 px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;

}

.cartao{
width: 260px;
height: 200px;

}


width: 100%;
    border-radius: 10px;
}
body{
display:flex;
flex-direction: column;
min-height: 100vh;
background-color:darkgreen

}
main{
flex: 1;
}


.cabecalho-link {
    color: crimson;
    text-decoration: nome;
}

h1 {
    color: cornflowerblue;
    font-size: 24px;
} 

footer{
background-color: darkgoldenrod
 padding:15px 25px;
 color:blank;
}

.cartao-interno{
 position: relative;
 }

 .cabecalho-frente:12px;
 position:relative;
 border-radius:12px;
 box-shadow:0 6px 12px whater;